<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vnesi svoje filme</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Vnesi svoj film !</h1>
        <form method="post", action="/vnesifilm">
            <input type="text" name="ime_filma" placeholder="Vnesi ime filma">
            <input type="text" name="ocena_filma" placeholder="Vnesi oceno filma">
            <input type="text" name="slika_filma" placeholder="Vnesi url do slike filma">
            <button type="submit"> Shrani </button>
        </form>
</body>
</html>